@import url('https://fonts.googleapis.com/css2?family=TASA+Explorer:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap');

@font-face {
    font-family: 'EvaSlide';
    src: url(fonts/EPKAISHO.TTF);
}

:root {
    --base-color: #f7f4ea;
    --base-variant: white;
    --text-color: black;
    --primary-color: #0eb10e;
    --accent-color: #068d06;
    --glow-color: #12f395;
}

.darkmode {
    --base-color: #1f1e1e;
    --base-variant: black;
    --text-color: white;
    --primary-color: #068d06;
    --accent-color: #0eb10e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--base-color);
    min-height: 100vh;
}

header {
    position: sticky;
    top:0;
    z-index: 999;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 2.5%;
    background-color: var(--base-variant);
}

h1 {
    font-family: 'EvaSlide', sans-serif;
    padding-right: 5px;
    font-size:40px;
    cursor: pointer;
}

li, a, button {
    font-family: "TASA Explorer", sans-serif;
    font-weight: 500;
    font-size: 24px; 
    color: var(--text-color);
    text-decoration: none;
}

.logo {
    margin-right: auto;
}

.logo:hover {
    box-shadow: var(--accent);
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 15px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color:var(--accent-color);
}

button {
    color: var(--base-variant);
    margin-left: 20px;
    padding: 9px 25px;
    background-color: var(--accent-color);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: var(--accent-color);
}

.slider__container {
    position: relative;
}

.slider__container .wrapper {
    width: 100vw;
    height: 75vh;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.6);
    overflow: hidden;
    border-radius: 0px;
}

.slider__container .wrapper-holder {
    display: grid;
    grid-template-columns: repeat(4, 100%);
    height: 100%;
    width: 100%;
    animation: slider 20s ease-in-out infinite;
}

.slider__container #slider-img-1,
.slider__container #slider-img-2,
.slider__container #slider-img-3,
.slider__container #slider-img-4 {
    background-position: center;
    background-size: cover;
}

.slider__container #slider-img-1 {
    background-image: url("images/augie.png");
}
.slider__container #slider-img-2 {
    background-image: url("images/slider-img-2.jpg");
}
.slider__container #slider-img-3 {
    background-image: url("images/slider-img-3.jpeg");
}
.slider__container #slider-img-4 {
    background-image: url("images/slider-img-4.png");
  }

.slider__container .button-holder {
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
}

.slider__container .button-holder .slide__button {
    background-color: gray;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    margin: .3rem;
    cursor: pointer;
    transition: box-shadow 0.3s;
}

.slide__button:hover {
    box-shadow: 0px 0px 7px 4px rgba(84, 248, 111, 0.6);
}

@keyframes slider {
    0% { transform: translateX(0%); }
    20% { transform: translateX(0%); }
    25% { transform: translateX(-100%); }
    45% { transform: translateX(-100%); }
    50% { transform: translateX(-200%); }
    70% { transform: translateX(-200%); }
    75% { transform: translateX(-300%); }
    95% { transform: translateX(-300%); }
    100% { transform: translateX(0%); }
}

.container {
    display: flex;
    margin: 50px auto;
    width: 90%;
    max-width: 1200px;
    background: var(--accent-color);
    box-shadow: 0 0 20px rgba(177, 173, 173, 0.1);
    border-radius: 12px;
    overflow: hidden;
}

.photo-section {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 20px;
    cursor: pointer;
}

.photo-section img {
    max-height: 300px;
    max-width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.content-section {
    flex: 2;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer; 
    transition: color 0.3s ease;
}

h3 {
    color: var(--base-variant);
    font-size:72px;
}

h4 {
    color: var(--base-color);
    font-size: 24px;
    font-style: italic;
}

.container:hover .content-section,
.container:hover .photo-section {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px var(--glow-color);
    transition: all 0.3s ease; /* smooth animation */
}
